.card{
   
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-color: rgba(174, 225, 245, 0.774)!important;
    }
.container{
     height: 100%;
     align-content: center;
       
 }